
/*
 Theme Name:   Flatsome Child
 Description:  A Flatsome Child Theme for DuLịchStyle - Travel & Fashion Affiliate
 Author:       DuLịchStyle Team
 Template:     flatsome
 Version:      1.0.0
 Text Domain:  flatsome-child
*/

/* Custom CSS for Affiliate Hub */
.primary-button {
    background-color: #38e619 !important;
    border-color: #38e619 !important;
}

.secondary-button {
    background-color: #101b0e !important;
}

/* Fix for Flatsome Header */
#header .nav > li > a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
